SOLANA_RPC_URL=https://api.devnet.solana.com
PROGRAM_ID=2Ps1h8YwCTxLo6bHiCaN3xT2r8mdj5qP4hxUPrVoCszE
USDC_MINT=4zMMC9srt5Ri5X14GAgXhaHii3GnPAEERYPJgZJDncDU

# x402 Facilitator Config
FACILITATOR_PORT=3001

# Frontend
NEXT_PUBLIC_SOLANA_NETWORK=devnet
NEXT_PUBLIC_PROGRAM_ID=2Ps1h8YwCTxLo6bHiCaN3xT2r8mdj5qP4hxUPrVoCszE
NEXT_PUBLIC_RPC_URL=https://api.devnet.solana.com
NEXT_PUBLIC_USDC_MINT=4zMMC9srt5Ri5X14GAgXhaHii3GnPAEERYPJgZJDncDU
